.HeaderCreate {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow_btn {
        filter: drop-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
        transition: filter 0.3s ease;
    }

    .arrow_btn:hover {
        filter: drop-shadow(rgba(0, 0, 0, 1) 2px 2px 4px);
    }
}
