.BottomNavigator {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-top: 2px solid var(--light-gray-color);
}
