.header_cards {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--light-gray-color);
    z-index: var(--sliding-drawer-z-index);
    width: 100%;
    height: 100%;
}

.lang_switcher {
    margin: 0 100px;
}
