.Button {
    border-radius: 8px;
    cursor: pointer;
    border: none;

    &.none {
        color: var(--secondary-color);
        margin: 0;
        background-color: transparent;
        padding: 0;
    }

    &.filled {
        background-color: var(--light-blue);
        color: #fff;
    }

    &.outlined {
        color: var(--secondary-color);
        background-color: transparent;
        border: 2px solid var(--btn-outlined-bg);
        transition: all 0.3s;

        &:hover {
            background-color: var(--btn-outlined-bg);
        }
    }

    &.circle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        background-color: var(--light-blue);
        border-radius: 50%;
    }

    &.basic {
        display: flex;
        justify-content: flex-start;
        background-color: #fff;
        border: 1px solid var(--light-gray-color);
    }

    &.sm_p {
        padding: 10px 7px;
    }

    &.m_p {
        padding: 12px 9px;
    }

    &.l_p {
        padding: 17px 11px;
    }

    &.m {
        font: var(--font-m);
    }

    &.l {
        font: var(--font-l);
    }

    &.xl {
        font: var(--font-xl);
    }

    &.shadow {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }
    }
}
