.Button {
    margin: 10px;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;

    &.outlined {
        background-color: transparent;
        color: #586380;
        border: 2px solid #e8eaf0;
        transition: all 0.3s;

        &:hover {
            background-color: #e8eaf0;
        }
    }

    .visible {
        h3 {
            color: purple;
        }
    }

    &.none {
        margin: 0;
        border: none;
        background-color: transparent;
    }

    &.filled {
        border: none;
    }

    // &.sm {

    // }

    // &.m {

    // }

    // &.l {

    // }

    &.smP {
        padding: 10px 7px;
    }

    &.mP {
        padding: 12px 9px;
    }

    &.lP {
        font-size: 18px;
        padding: 17px 11px;
    }
}
