.Button {
    margin: 10px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    border: none;

    &.none {
        color: var(--secondary-color);
        margin: 0;
        background-color: transparent;
    }

    &.filled {
        background-color: var(--btn-filled-bg);
        color: #fff;
    }

    &.outlined {
        color: var(--secondary-color);
        background-color: transparent;
        border: 2px solid var(--primary-color);
        transition: all 0.3s;

        &:hover {
            background-color: var(--primary-color);
        }
    }

    &.sm_p {
        padding: 10px 7px;
    }

    &.m_p {
        padding: 12px 9px;
    }

    &.l_p {
        font-size: 18px;
        padding: 17px 11px;
    }
}
