.input {
    width: 100%;
    padding: 10px 0 10px 5px;
    font-size: 16px;
    color: #2e3856;
    outline: none;

    &.focused {
        border-color: #2e3856;
        outline: none;
    }

    &.basic {
        border: none;
        border-bottom: 1px solid #000;

        &.focused {
            border-bottom: 2px solid var(--light-blue);
        }
    }

    &.ghost {
        background-color: #f6f7fb;
        border-radius: 7px;
        border: 2px solid #f6f7fb;
    }
}
