.input {
    width: 100%;
    padding: 10px 0 10px 5px;
    background-color: #f6f7fb;
    border-radius: 7px;
    font-size: 16px;
    color: #2e3856;
    border: 2px solid #f6f7fb;
    // outline: none;

    &.focused {
        border-color: #2e3856;
        outline: none;
    }
}
