.cont {
    display: flex;

    .right {
        margin-top: 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 80px;
    }
 
    .container_btn {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .btn {
            width: 100%;
        }
    }

    .container_input {
        input {
            margin-bottom: 40px;
        }
    }

    // .container_signIn_btn {
    //     width: 100%;
    //     display: flex;
    //     align-items: center;
    //     flex-direction: column;
    // }

    .btn_filled {
        width: 100%;
        background-color: #423ED8;
    }

    .img {
        width: 50%;
        height: 100vh;
        object-fit: cover;
    }
}
