.Overlay {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: var(--overlay-z-index);
    transition: none !important;
    opacity: 1;

    &.closed {
        opacity: 0;
    }

    &.isBlur {
        backdrop-filter: blur(2px);
        background: var(--overaly-bg);
    }
}
