.cont {
    display: flex;
    height: 100vh;

    .right {
        display: flex;
        flex-direction: column;
        width: 50%;
        overflow-y: auto;
        padding: 50px 80px;
    }

    .visible {
        color: red;
    }
}

.img_container {
    flex: 0 0 50%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input {
    margin-bottom: 15px;
}

.btn_register {
    margin-bottom: 20px;
}