.cont {
    display: flex;

    .right {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding: 0 80px;

        // Divider
        .divider {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0;
        }

        .divider::before,
        .divider::after {
            content: '';
            flex-grow: 1;
            height: 2px;
            background-color: #edeff4;
            margin: 0 10px;
        }

        .divider_title {
            color: #586380;
            font-weight: 700;
        }
    }

}

.img {
    height: 100vh;
    object-fit: cover;
}

input {
    margin-bottom: 40px;
}

.visible {
    color: #778058;
}