.cardItem {
    padding: 5px 10px;
    width: 100%;
    min-height: 80px;
    margin-bottom: 2px;
    background-color: #fff;
}

.eng_word {
    font-weight: 600;
}

.icon {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
